# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Production
build
dist

# Debug
*.log

# Env files (seront injectées par Coolify)
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests
coverage
.nyc_output

# Misc
README.md
*.md
Makefile
